body {
    margin: 0;
    padding: 0;
}
.cabecalho {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #dc143c;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}
.a-control {
    display:inline-block;
    width: 5vw;
    height: 10vh;
    text-decoration: none;
    color: #fff;
}
.navigation {
    display:inline-block;
    position: fixed;
    right: 0;
    top: 25px;
}